<div class="layout-column align-items-center mt-50">

  <section class="layout-row align-items-center justify-content-between">
    <label>Celsius: </label>
    <input type="number" class="large" [(ngModel)]="celciusValue" (ngModelChange)="ChangeValueToFahernheit()" data-test-id="celsius-input"/>
  </section>

  <section class="layout-row align-items-center justify-content-between">
      <label>Fahrenheit: </label>
      <input type="number" class="large" [(ngModel)]="fahrenheitValue" (ngModelChange)="ChangeValueToCelcius()" data-test-id="fahrenheit-input"/>
  </section>
</div>